
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;

}
a:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
  0 0 25px #03e9f4,
  0 0 50px #03e9f4,
  0 0 200px #03e9f4;
  /*-webkit-box-reflect:below 1px linear-gradient(transparent, #0005);*/
}

a span{
  position: absolute;
  display: block;
}
a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
a span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}

a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom: 100%;
  }
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.a-header:after, .a-header:before{
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-sizing: border-box;
}
.burger-check {
  display: none;
}

/*--------------------------------------
 Sets the actionable area for the burger
 including a label for usability
--------------------------------------*/
.burger {
  position: relative;
  float: left;
  margin-left: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.burger:after {
  content: 'Menu';
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

/*--------------------------------------
 Creates the look of the burger icon
 using the inner span and pseudo-elements
--------------------------------------*/
.burger span,
.burger span:before,
.burger span:after {
  position: absolute;
  left: 10px;
  top: 22px;
  width: 40px;
  height: 4px;
  background: #333;
  border-radius: 0.2em;
}

/* Reset the left and create the pseudo-element */
.burger span:before,
.burger span:after {
  content: '';
  left: 0;
}

/* Top bar position */
.burger span:before {
  top: -8px;
}

/* Bottom bar position */
.burger span:after {
  top: 8px;
}

/* Get rid of more on action (IE9 or higher) */
.burger-check:checked + .burger:after {
  content: '';
}
/* Get rid of the middle bar on action (IE9 or higher) */

.burger-check:checked + .burger span {
  height: 0;
  width: 0;
}

/* Moves the top and bottom bars to the middle on action (IE9 or higher) */
.burger-check:checked + .burger span:before,
.burger-check:checked + .burger span:after {
  top: 6px;
}

/* Rotates the top bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* Rotates the bottom bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:after {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(-225deg);
}

/*==============================================================================
 Simple reveal (IE9 or higher)
==============================================================================*/
span.boo {
  width: auto;
  margin-top: 0;
  line-height: 60px;
  height: 0;
  overflow: hidden;
}

/* Reveals Boo! (IE9 or higher) */
#main-nav-test:checked ~ .boo {
  height: 50px;
}

/*==============================================================================
 Simple mobile menu opening and closing (IE9 or higher)
==============================================================================*/
.a-header {
  position: relative;
  float: left;
  width: calc(100% - 20px);
  margin: 0;
  min-height: 50px;
  background: #eee;
  overflow: hidden;
}

.a-header ul {
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.a-header ul a {
  position: relative;
  float: left;
  width: 100%;
  height: 0;
  line-height: 50px;
  padding: 0 15px;
  text-decoration: none;
  overflow: hidden;
  color: #333;
  text-align: left;
}

.a-header ul a:hover,
.a-header ul a:active,
.a-header ul a:focus,
.a-header ul a:visited {
  text-decoration: none;
  background: #fff;
  border-bottom-color: #08c;
}

/* Animate height of 'a' element in order to reveal the menu on check (IE9 or higher) */
#main-nav:checked ~ ul a {
  height: 50px;
}

